name: Java CI with Gradle

on:
  push:
    branches: [ main, no_residence ]
  pull_request:
    branches: [ main, no_residence ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 16
      uses: actions/setup-java@v2
      with:
        java-version: '16'
        distribution: 'adopt'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew shadowjar
    - name: Upload artifacts
      uses: actions/upload-artifact@v2-preview
      with:
        name: ${{ github.event.repository.name }}
        path: build/libs/*.jar
